<% include ./partials/header %>

<div class="textLine">
    <p>Congratulations <%= player.username %>, your score is <%= player.points %>/10</p>
    <p>Checklist:</p>
</div>

<% for(let i = 0; i < player.answers.length; i++){ %>
    <hr class="hrWide">
    <% if(player.answers[i].right) { %>
        <div class="finisListItem correctAnswer">
            <div>
                <p class="finisListItemText">Your answer: <%=player.answers[i].givenAnswer%></p>
                <audio class="audio-player-finish" src="/<%=player.answers[i].sound%>">sd</audio>
            </div>
            <div>
                <i class="playFinishPage fa fa-play"></i>
            </div>
        </div>
    <% } else { %>
        <div class="finisListItem wrongAnswer">
            <div>
                <p class="finisListItemText">Your answer: <%=player.answers[i].givenAnswer%></p>
                <p class="finisListItemText">Correct answer: <%=player.answers[i].correctAnswer%></p>
                <audio class="audio-player-finish" src="/<%=player.answers[i].sound%>">sd</audio>
            </div>
            <div>
                <i class="playFinishPage fa fa-play"></i>
            </div>
        </div>
    <% } %>
    
<% } %>

<hr class="hrWide">
<div class="buttonContainer">   
    <button id="retry" class="directingButton">Try Again</button>
    <a href="/toplist"><button class="directingButton">Show Toplist</button></a>
</div>

<form action="/retry" method="POST">
    <input type="hidden" name ="playerID" value="<%= player._id %>">
    <button id="inputButton"></button>
</form>


<script>
    document.getElementById("retry").addEventListener("click", () => {
        document.getElementById("inputButton").click();
    })

    var play_button = $('.playFinishPage');
    var player = $(".audio-player-finish");
  
    for(let i = 0; i < player.length; i++) {
        play_button[i].addEventListener('click', () => {
            if(player[i].paused) {
                for(let i = 0; i < player.length; i++) {
                    player[i].pause();
                    play_button[i].classList.remove("fa-pause");
                    play_button[i].classList.add("fa-play");
                }
                player[i].play();
                play_button[i].classList.remove("fa-play");
                play_button[i].classList.add("fa-pause");
            } else {
                player[i].pause();
                play_button[i].classList.remove("fa-pause");
                play_button[i].classList.add("fa-play");
            }
        });
        player[i].addEventListener("ended", function() {
            play_button[i].classList.remove("fa-pause");
            play_button[i].classList.add("fa-play");
        });
    }
    
</script>

<% include ./partials/footer %>